<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
  <listener class-name="Listener.testngListener"></listener>
  <listener class-name="Listener.ExtentReportListener"></listener>
  </listeners>
  <test thread-count="2" name="Test" parallel="methods">
  <parameter name="env" value="SIT"></parameter>
  <classes>
      <class name="tests.LoginTest"></class>
      <class name="tests.HomeTest"></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
